.home {
  background: #efeff4;
  min-height: 100vh;
  padding-top: 20px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
  margin-top: 20%;
}

.no-launches {
  color: grey;
  font-size: 3em;
  margin: auto;
  margin-top: 20%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
